@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 100%;
}
html{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
body{
    background: url('../img/bg.png') repeat-x #629d66;
}
#container {
    background-color: white;
    max-width: 900px;
    margin: 10px auto;

}
#header {
    background: url('../img/logo1.jpg');
    height: 240px;
}
#header h1{
    font-size: 5em;
    color: white;
    text-transform: uppercase;
    padding: 80px 0 0 400px;
    font-weight: normal;
}
#sidebar {
    width: 19.9999%;
    float: left;
}
#sidebar .block{
    background: url(../img/img02.gif) no-repeat right bottom #96a96f;
    margin-top: 20px;
    margin-right: 10px;
    padding-bottom: 40px;
}
#sidebar .block ul{
    list-style-type: none;
}
#sidebar .block h3{
    background: #203926;
    color: white;
}
.menupont {
    padding: 10px;
    text-decoration: none;
    color: #2d5e38;
    display: inline-block;
}
.menupont:hover {
    text-decoration: underline;
    color: white;
}
#content {
    width: 79.9999%;
    float: left;
}
#content .news{
    margin: 20px 100px 40px 0;
    text-align: justify;
}
#content .news h2 {
    font-size: 2em;
    padding-bottom: 20px;

}
#content .news p{
    line-height: 1.5;

}
#content .news p img{
    float: left;
    margin-right: 20px;
}
#footer{
    text-align: center;
    background-color: #063110;
    color: white;
}
.clearfix {
    content: "";
    clear: both;
    display: table;
}